{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% include 'accounts/authentication.html' %}
</div>
<!-- banner -->
<div class="banner">
    <div class="container">
        <h3>Electronic Store, <span>Special Offers</span></h3>
    </div>
</div>
<!-- //banner -->
<div class="container">
    {% include 'page_portions/new_products.html' %}
</div>
<div class="container">
    {% include 'page_portions/top_brands.html' %}
</div>
<div class="container">
    {% include 'page_portions/discount.html' %}
</div>
{% endblock %}