{% load static %}
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>Top Brands</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                <li>
                    <img src="{% static 'images/tb1.jpg' %}" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="{% static 'images/tb2.jpg' %}" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="{% static 'images/tb3.jpg' %}" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="{% static 'images/tb4.jpg' %}" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="{% static 'images/tb5.jpg' %}" alt=" " class="img-responsive" />
                </li>
            </ul>
        </div>

    </div>
</div>